@{
    ViewBag.Title = "Welcome!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    const int NumberOfTasks = 50;
}

<h1>Welcome!</h1>

<table style="height: 1500px;">
    <tr>
        <td style="vertical-align:top; background-color: lightpink; width: 200px;">
            <h2 id="ajax-ready"></h2>
            <pre id="ajax-progress"></pre>
        </td>
        <td style="vertical-align:top; background-color: lightskyblue; width: 200px;">
            <h2 id="hub-ready"></h2>
            <div id="hub-progress"></div>
        </td>
    </tr>
</table>

@section scripts
{
    <script>
        var runAjax = function() {
            $("#ajax-ready").append("AJAX is go! ;-)");

            @for (var i = 1; i <= NumberOfTasks; i++) {
            <text>
            $.ajax({
                url: "@Url.Action("CreateAsync", new { id = i })",
                    type: "POST"
                }).done(function (data) {
                    $("#ajax-progress").append("<pre>" + data + "</pre>");
                });
            </text>
            }
        };

        var runHub = function(hub) {
            $("#hub-ready").append("Hub is ready! ;-)");

            @for (var i = 1; i <= NumberOfTasks; i++)
            {
            <text>
            hub.server.doTaskAsync(@i);
            </text>
            }
        };

        $(function () {
            $.connection.hub.logging = true;

            // Declare a proxy to reference the hub. 
            var taskHub = $.connection.taskHub;

            // Create a function that the hub can call to broadcast messages.
            taskHub.client.showResult = function (id) {
                $("#hub-progress").append("<pre>" + id + "</pre>");
            };

            $.connection.hub.start().done(function () {
                runHub(taskHub);
                runAjax();
            });
        });

    </script>
}
